@page "{id}"
@model Ecommerce_App.Pages.CategoryDetailsModel
@{
}

<a asp-page="/login">Login</a> or <a asp-page="/register">Register</a>

<h1>@Model.CategoryInfo.Name</h1>
<p>@Model.CategoryInfo.Description</p>

@foreach (var product in Model.CategoryInfo.Products)
{
    <section>
        <h3>@product.Name</h3>
        <img src=@product.ImgUrl>
        <p>@product.Description</p>
        <p>@product.Price</p>
    </section>
}
